<div class="row">
  <article class="cheatsheet" ng-controller="DocController">
    <h1 style="display: none">Cheatsheet</h2>
    <div>
      <h2>Operators</h2>
      <div style="text-align: right">
        <label class="radio inline">
          <input type="radio" ng-model="docmode" value="api">
          api
        </label>
        <label class="radio inline">
          <input type="radio" ng-model="docmode" value="examples">
          examples
        </label>
      </div>
    </div>
    <table class="table table-condensed">
      <tr>
        <th>name</th>
        <th ng-show="docmode == 'api'">synopsis</th>
        <th ng-show="docmode == 'api'">signature</th>
        <th ng-show="docmode == 'api'">options</th>
        <th ng-show="docmode == 'examples'">example</th>
        <th ng-show="docmode == 'examples'"></th>
      </tr>
      <tr ng-repeat="op in doc.operators | orderBy:'name'">
        <td>{{op.name}}</td>
        <td ng-show="docmode == 'api'">{{op.synopsis}}</td>
        <td ng-show="docmode == 'api'" class="code">{{op.signature}}</td>
        <td ng-show="docmode == 'api'" class="code">{{op.options}}</td>
        <td ng-show="docmode == 'examples'" class="code">{{op.examples[0]}}</td>
        <td ng-show="docmode == 'examples'" class="code">
          <a href="/?src={{ op.examples[0] | atob }}" target="_blank">Try it!</a>
        </td>
      </tr>
    </table>

    <div>
      <h2>Predicates</h2>
    </div>
    <table class="table table-condensed">
      <tr>
        <th>name</th>
        <th>synopsis</th>
        <th>signature</th>
        <th>example</th>
      </tr>
      <tr ng-repeat="op in doc.predicates">
        <td>{{op.name}}</td>
        <td>{{op.synopsis}}</td>
        <td class="code">{{op.signature}}</td>
        <td class="code">{{op.examples[0]}}</td>
      </tr>
    </table>

    <div>
      <h2>Aggregate functions</h2>
    </div>
    <table class="table table-condensed">
      <tr>
        <th>name</th>
        <th>synopsis</th>
        <th>example</th>
      </tr>
      <tr ng-repeat="op in doc.aggregators | orderBy: 'name'">
        <td>{{op.name}}</td>
        <td>{{op.synopsis}}</td>
        <td class="code">{{op.examples[0]}}</td>
      </tr>
    </table>
  </article>
</div>
