<div ng-controller="QueryController">
  <div id="editor" class="row">
    <div class="header">
      <p class="human pull-left">
        <span>Type your query or <a ng-click="getQueryAtRandom()">get one at random</a></span>
      </p>
      <p class="alternatives pull-right">
        <i class="icon-bookmark"
           title="Bookmark this query"
           ng-click="$state.transitionTo('try', {src: src})"/>
      </p>
      <div class="clearfix"></div>
    </div>
    <div id="ace" ui-ace="{theme: 'textmate', mode: 'ruby', onLoad: aceLoaded}" ng-model="src"></div>
  </div>
  <div class="row">
    <div id="error" class="alert alert-error" ng-show="error">{{error}}</div>
  </div>
  <div ng-include="'/result.html'"/>
</div>