<div ng-controller="TryController">
  <h1 style="display: none">Try</h1>
  <div id="editor" class="row">
    <div class="header">
      <p class="human pull-left">
        <span>Type your query or <a ng-click="getQueryAtRandom()">get one at random</a></span>
      </p>
      <p class="alternatives pull-right">
        <i class="icon-bookmark"
           title="Bookmark this query"
           ng-click="bookmark()"/>
      </p>
      <div class="clearfix"></div>
    </div>
    <div id="ace" ui-ace="{theme: 'textmate', mode: 'ruby', onLoad: aceLoaded}" ng-model="src"></div>
  </div>
  <div class="row">
    <div id="error" class="alert alert-error" ng-show="error">{{error}}</div>
  </div>
  <div id="result-tab" class="row">
    <div class="header">
      <ul class="nav nav-pills">
        <li ng-class="{active: $parent.mode == 'data'}">
          <a ng-click="$parent.mode = 'data'">Data</a>
        </li>
        <li ng-class="{active: $parent.mode == 'metadata'}">
          <a ng-click="$parent.mode = 'metadata'">Metadata</a>
        </li>
        <li ng-class="{active: $parent.mode == 'logical'}">
          <a ng-click="$parent.mode = 'logical'">Optimizer</a>
        </li>
        <li ng-class="{active: $parent.mode == 'physical'}">
          <a ng-click="$parent.mode = 'physical'">Query plan</a>
        </li>
      </ul>
      <form name="formats" class="formats-form">
        <label class="radio inline">
          <input type="radio" ng-model="$parent.format" value="text/plain">
          .txt
        </label>
        <label class="radio inline">
          <input type="radio" ng-model="$parent.format" value="application/json">
          .json
        </label>
        <label class="radio inline">
          <input type="radio" ng-model="$parent.format" value="text/yaml">
          .yaml
        </label>
        <label class="radio inline">
          <input type="radio" ng-model="$parent.format" value="text/csv">
          .csv
        </label>
      </form>
    </div>
    <div>
      <pre id="result">{{result}}</pre>
    </div>
  </div>
</div>