body {
  color: #222222;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #EEE), color-stop(.25, transparent), to(transparent)), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #EEE), color-stop(.25, transparent), to(transparent)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #EEE)), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #EEE));
  background-image: -webkit-linear-gradient(75deg, #EEE 25%, transparent 25%, transparent), -webkit-linear-gradient(-75deg, #EEE 25%, transparent 25%, transparent), -webkit-linear-gradient(75deg, transparent 75%, #EEE 75%), -webkit-linear-gradient(-75deg, transparent 75%, #EEE 75%);
  background-image: -moz-linear-gradient(75deg, #EEE 25%, transparent 25%, transparent), -moz-linear-gradient(-75deg, #EEE 25%, transparent 25%, transparent), -moz-linear-gradient(75deg, transparent 75%, #EEE 75%), -moz-linear-gradient(-75deg, transparent 75%, #EEE 75%);
  background-image: -ms-linear-gradient(75deg, #EEE 25%, transparent 25%, transparent), -ms-linear-gradient(-75deg, #EEE 25%, transparent 25%, transparent), -ms-linear-gradient(75deg, transparent 75%, #EEE 75%), -ms-linear-gradient(-75deg, transparent 75%, #EEE 75%);
  background-image: -o-linear-gradient(75deg, #EEE 25%, transparent 25%, transparent), -o-linear-gradient(-75deg, #EEE 25%, transparent 25%, transparent), -o-linear-gradient(75deg, transparent 75%, #EEE 75%), -o-linear-gradient(-75deg, transparent 75%, #EEE 75%);
  background-image: linear-gradient(75deg, #EEE 25%, transparent 25%, transparent), linear-gradient(-75deg, #EEE 25%, transparent 25%, transparent), linear-gradient(75deg, transparent 75%, #EEE 75%), linear-gradient(-75deg, transparent 75%, #EEE 75%);
  -webkit-background-size: 15px 15px;
  -moz-background-size: 15px 15px;
  background-size: 15px 15px;
  -moz-box-shadow: 1px 1px 8px gray;
  -webkit-box-shadow: 1px 1px 8px gray;
  box-shadow: 1px 1px 8px gray;
  font-size: 16px;
  padding-bottom: 20px;
}
a:hover {
  cursor: pointer;
}
header {
  margin-bottom: 20px;
}
header ul {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: Helvetica;
  font-weight: bold;
}
header a:hover {
  cursor: pointer;
}
header li {
  list-style: none;
  display: block;
  float: left;
  background: white;
  width: 115px;
  height: 40px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  margin-right: 15px;
  box-shadow: 1px 1px 8px gray;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #fff;
  color: #08c;
}
header li p {
  line-height: 20px;
  padding-top: 10px;
}
header li.active {
  height: 70px;
  background-color: #08c;
  color: white;
}
header li.active a {
  color: white;
}
header li.active p {
  padding-top: 40px;
}
.clear {
  clear: both;
}
p.human {
  font-size: 18px;
  font-style: italic;
  line-height: 20px;
  padding: 5px 10px;
  padding-left: 15px;
  vertical-align: middle;
  margin-bottom: 0px;
}
p.alternatives {
  line-height: 20px;
  padding: 5px 10px;
  vertical-align: middle;
  margin-bottom: 0px;
  text-align: right;
}
.ace_editor {
  height: 250px;
  font-size: 18px;
}
#editor {
  box-shadow: 1px 1px 8px gray;
}
#result-tab .header, #editor .header {
  background: white;
  margin-bottom: 0px;
  padding: 7px 0px 7px 0px;
  border: 1px solid black;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#editor .header i {
  vertical-align: middle;
}
#ace {
  padding-top: 15px;
  border: 1px solid black;
  border-top: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
#result-tab {
  margin-top: 20px;
}
#result-tab .header form {
  margin-right: 15px;
}
#result-tab .header a:hover {
  cursor: pointer;
}
#result-tab .header .nav-pills {
  margin-bottom: 0px;
  float: left;
  margin-left: 15px;
}
#error {
 margin-bottom: 0px; 
}
#result {
  height: 400px;
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
  background-color: black;
  color: white;
  margin-top: 0px;
  box-shadow: 1px 1px 8px gray;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
form.formats-form {
  text-align: right;
  margin: 0px;
  padding: 0px;
}
form.formats-form label.radio {
  line-height: 20px;
  padding: 5px 7px 5px;
}
article {
  background: white;
  min-height: 300px;
  border: 1px solid black;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 1px 1px 8px gray;
}
article.cheatsheet table {
  font-size: 85%;
}
article.cheatsheet table .code {
  font-family: Courier;
}
.doc-menu {
  margin-left: 0px;
  background: white;  
  border: 1px solid black;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 1px 1px 8px gray;
  padding: 12px;
}
.doc-menu li.active {
  font-weight: bold;
}

article {
  font-family:Helvetica !important;
}
article h1, h2, h3, h4, h5, h6 {
  border: 0 !important;
}
article h1 {
  font-size: 170% !important;
  border-top: 4px solid #aaa !important;
  padding-top: .5em !important;
  margin-top: 1em !important;
}
article h2 {
  font-size: 150% !important;
  margin-top: 1em !important;
  border-top: 4px solid #e0e0e0 !important;
  padding-top: .5em !important;
}
article h3 {
  font-size: 120% !important;
  margin-top: 1em !important;
}
article p {
  margin: 1em 0 !important;
  line-height: 1.5em !important;
}
article ul {
  margin: 1em 0 1em 2em !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
article ol {
  margin: 1em 0 1em 2em !important;
}
article ol ol {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
article ul ul,
article ul ol,
article ol ol,
article ol ul {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
article li {
  margin-top: 5px;
}
article li:first-child {
  margin-top: 0px;
}
article blockquote {
  margin: 1em 0 !important;
  border-left: 5px solid #ddd !important;
  padding-left: .6em !important;
  color: #555 !important;
}
article dt {
  font-weight: bold !important;
  margin-left: 1em !important;
}
article dd {
  margin-left: 2em !important;
  margin-bottom: 1em !important;
}
article table {
  margin: 1em 0 !important;
}
article table th {
  border-bottom: 1px solid #bbb !important;
  padding: .2em 1em !important;
}
article table td {
  border-bottom: 1px solid #ddd !important;
  padding: .2em 1em !important;
}
article pre {
  margin: 1em 0 !important;
  font-size: 90% !important;
  background-color: #f8f8ff !important;
  border: 1px solid #dedede !important;
  padding: .5em !important;
  line-height: 1.5em !important;
  color: #444 !important;
  overflow: auto !important;
}
article pre code {
  padding: 0 !important;
  font-size: 100% !important;
  background-color: #f8f8ff !important;
  border: none !important;
}
article code {
  font-size: 90% !important;
  background-color: #f8f8ff !important;
  color: #444 !important;
  padding: 0 .2em !important;
  border: 1px solid #dedede !important;
}
article {
  padding: 0px 25px;
  padding-bottom: 25px;
}
div.try-this {
  text-align: right;
  font-size: 80%;
  margin: 0px;
  padding: 0px;
  margin-top: -45px;
  margin-right: 10px;
  margin-bottom: 25px;
  padding-top: 5px;
}
.blog-post-date {
  text-align: right;
  padding-top: 15px;
}